@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 244, 244, 246;
  --background: #0e0f14;
  --background-start-rgb: 14, 15, 20;
  --background-end-rgb: 14, 15, 20;
}

body {
  color: rgb(var(--foreground-rgb));
  background: var(--background);
  overflow-x: hidden;
  overflow-y: auto;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Scrollbar styling for order book */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Nebula-like scrollbar */

* {
  scrollbar-width: thin;
  scrollbar-color: #374151 transparent;
}

*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background: #374151;
  border-radius: 4px;
}

*::-webkit-scrollbar-thumb:hover {
  background: #6b7280;
}
